body {
    background: lightslategray
}

/* TODO:  If you have two selectors like #Fonts with different settings for font-family, only the second one will be used; you can combine these in to one. */

#Fonts {
    font-size: 1.5rem;
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}

#Fonts {
    font-size: 1.5rem;
    color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#Picture {
    width: 25ch;
    padding: 3em;
    float: right;
    animation-name: animate;
    animation-duration: 3s;
}

#cake {
    float: left;
}
/* TODO:  same as above */
#Fonts {
    font-family: 'Courgette', cursive;
}

h1 {
    font-family: 'Lobster', cursive;
    color: lavender
}

@keyframes animate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@media all and (orientation:landscape) and (max-width: 750px) {
    #Picture {
        width: 15ch;
    }
}

@media all and (max-width: 420px) {
    #Picture {
        width: 15ch;
    }
}