body {
    background: lightseagreen
}
#Favorite{
    font-size: 6rem;
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}
#Dislikes{
    font-size:5rem;
    color: lightcoral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}