body {
    background: lightseagreen
}

#Favorite{
    font-size: 1.5rem;
    color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}
#Dislikes{
    font-size:1.5rem;
    color: lightcoral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#Picture{
    width: 25ch;
    padding: 3em;
}
#cake{
    float: left;
}

